/* montserrat-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts//montserrat-v30-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts//montserrat-v30-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts//montserrat-v30-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts//montserrat-v30-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* fraunces-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts//fraunces-v37-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts//fraunces-v37-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* fraunces-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts//fraunces-v37-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts//fraunces-v37-latin-700.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-very-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);

    --shadow-sm: -8px 8px 32px -16px hsla(212, 21%, 14%, 0.2);

    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Fraunces", serif;
    --font-medium: 500;
    --font-bold: 700;

    --text-body: 0.875rem;

    --leading-none: 1;

    --rounded-sm: 0.5rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
main {
    min-height: 100vh;
    font-family: var(--font-primary);
    font-weight: var(--font-medium);
    font-size: var(--text-body);
    background-color: var(--clr-cream);
    padding: 1rem;
    display: flex;
    align-items: center;
}
.product {
    overflow: hidden;
    background-color: var(--clr-white);
    color: var(--clr-dark-grayish-blue);
    max-width: 37.5rem;
    margin: 0 auto;
    border-radius: var(--rounded-sm);
    box-shadow: var(--shadow-sm);
}
.product__image img {
    object-fit: cover;
}
.product__image::after {
    display: block;
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.03);
}
.product__content {
    padding: clamp(1.5rem, 2.036vw + 1.023rem, 2rem);
}
.product__category {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.42em;
    margin-bottom: clamp(0.75rem, 2.036vw + 0.273rem, 1.25rem);
    line-height: 0.9375rem;
}
.product__title {
    color: var(--clr-very-dark-blue);
    font-family: var(--font-secondary);
    font-size: 2rem;
    margin-bottom: clamp(1rem, 2.036vw + 0.523rem, 1.5rem);
}
.product__description {
    line-height: 1.4375rem;
    margin-bottom: clamp(1.5rem, 2.29vw + 0.713rem, 1.8125rem);
}
.product__price {
    display: flex;
    align-items: center;
    margin-bottom: clamp(1.25rem, 2.545vw + 0.654rem, 1.875rem);
}
.product__price--new {
    font-family: var(--font-secondary);
    font-size: 2rem;
    color: var(--clr-dark-cyan);
    font-weight: var(--font-bold);
}
.product__price--old {
    font-size: 0.8125rem;
    margin-left: 1.1875rem;
}
.product__add-cart-btn {
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--clr-dark-cyan);
    color: var(--clr-white);
    padding: 1rem 0;
    border-radius: var(--rounded-sm);
    font-weight: var(--font-bold);
    display: flex;
    justify-content: center;
    transition-property: background-color, transform;
    transition-timing-function: ease;
    transition-duration: 200ms;
}
.product__add-cart-btn img {
    margin: 0 0.75rem 0 0;
}
.product__add-cart-btn span {
    margin-top: 0.0625rem;
}

@supports selector(:active) {
    button:active {
        transform: scale(0.95);
    }
}
@supports selector(:focus-visible) {
    .product__add-cart-btn:focus {
        outline: none;
    }
    .product__add-cart-btn:focus-visible {
        outline: 0.1875rem dashed var(--clr-dark-cyan);
        outline-offset: 0.1875rem;
    }
}
@media (hover: hover) {
    .product__add-cart-btn:hover {
        background-color: #1a4031;
    }
}
@media screen and (min-width: 48em) {
    .product {
        display: flex;
    }
    .product > * {
        width: 50%;
    }
}
