:root {
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-very-dark-blue: hsl(212, 21%, 14%);
  --clr-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-montserrat: "Montserrat", sans-serif;
  --ff-fraunces: "Fraunces", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  line-height: 1.25;
}

body {
  font-family: var(--ff-montserrat);
  color: var(--clr-dark-grayish-blue);
  background-color: var(--clr-cream);
  font-size: 1.4rem;
  font-weight: var(--fw-medium);
  padding: 0 1.6rem;
}

.product-wrapper {
  --content-padding: 2.4rem;
  --content-spacing: 2.4rem;

  background-color: var(--clr-white);
  max-width: 60rem;
  display: grid;
  border-radius: 0.8rem;
  margin: 2.8rem auto 0 auto;
  overflow: hidden;
}

.product-price-wrapper {
  margin: 2rem 0 1.6rem 0;
  display: flex;
  align-items: center;
}

.product-content-wrapper {
  padding: var(--content-padding);
}

.product-origin-price {
  font-size: 1.3rem;
}

.product-title {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold);
  font-size: 3.2rem;
  line-height: 1;
  color: var(--clr-very-dark-blue);
  margin: 1.2rem 0 1.6rem 0;
}

.product-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}

.product-price {
  font-family: var(--ff-fraunces);
  font-size: 3.2rem;
  color: var(--clr-dark-cyan);
  margin-right: 2rem;
}

.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--clr-dark-cyan);
  color: var(--clr-white);
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
}

.btn img {
  margin-right: 1rem;
}

@media (hover: hover) {
  .btn:hover {
    background-color: #1a4031;
  }
}

@media screen and (min-width: 600px) {
  .product-wrapper {
    margin-top: 17.5rem;
    --content-padding: 3.2rem;
    grid-template-columns: 1fr 1fr;
  }
  .product-price-wrapper {
    margin: 2.4rem 0 2.6rem 0;
  }
  .product-title {
    margin: 2.1rem 0 2.5rem 0;
  }
  .product-description {
    line-height: 1.64285714286;
  }
}
